
.product {
    display: flex;
    flex-wrap: wrap;
   /*  margin-bottom: 350px; */
}

.product-img {
  flex: 1;
  /* background-color:rgb(110, 160, 110); */
  justify-content: center;
  position: relative; 
  padding: 4%;
  height: 100%;
  width: 100%;
  display: inline;
}
 
.product-des {
  flex: 2;
  /* background-color: rgb(224, 230, 221); */
  align-items: center;
  align-content: center;
}

h3{
  text-align: left;
}

h1{
  text-align: left;
}

.btn {
  padding: 1.5% 1.5%;
  font-size:20px;
  margin-top: 2%;
  margin-left: 2%;
}

p{
  width: 80%;
}

h6 { 
  position: absolute;
  top: 60%;
  width: 100%;
}

h6 span { 
  color: rgb(0, 0, 0);
  font:  24px/45px Helvetica, Sans-Serif; 
  text-transform: uppercase;
  letter-spacing: 4px;  
  background: rgb(0, 0, 0);
  background: rgb(203, 211, 199);
  padding: 10px; 
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

@media (max-width: 799px) {
  h6 { 
    top: 40%;
  }
}