
.product {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 350px;
}

.product-img {
  flex: 1;
  /* background-color:rgb(110, 160, 110); */
  justify-content: center;
  padding: 4%;
  height: 100%;
  width: 100%;
}
 
.product-des {
  flex: 2;
  /* background-color: rgb(224, 230, 221); */
  align-items: center;
  align-content: center;
}

h3{
  text-align: left;
}

h1{
  text-align: left;
}

.btn {
  padding: 1.5% 1.5%;
  font-size:20px;
  margin-top: 2%;
  margin-left: 2%;
}

p{
  width: 80%;
}

.image { 
  position: relative; 
  width: 100%; /* for IE 6 */
}

h6 { 
  position: absolute; 
  top: 75%; 
  left: 0; 
  width: 100%;
}

h6 span { 
  color: white; 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  text-transform: uppercase;
  letter-spacing: 4px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}